{% extends 'base.html.twig' %}

{% block title %}
  OpenId complete
{% endblock %}

{% block body %}
  <h3>
    <a href="{{ url('openid_discovery') }}">OpenId</a> / complete
  </h3>

  {% if token_ok is defined %}
    <div class="alert alert-success">Access token received successfully.</div>
  {% endif %}

  {% if error is defined %}
    <div class="alert alert-danger">
      <strong>There was a problem</strong>: {{ error }}
    </div>
  {% endif %}

  {% if parameters is empty %}
    <div class="alert alert-warning">
      <strong>No parameters to parse.</strong>
      If you are coming from the <a href="{{ url('openid_discovery') }}">discovery page</a>, please double-check your configuration.
    </div>
  {% else %}
    <h4>Here's what I received ({{ app.request.method }} parameters):</h4>
    {{ dump(parameters) }}
  {% endif %}

  {% if decoded_token is defined %}
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Base64-decoded id_token</h6>
            {{ dump(decoded_token) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if validated_token is defined and validated_token is not null %}
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Validated id_token contents</h6>
            {{ dump(validated_token) }}
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Saved state</h6>
            {{ state }}
            {% if not(parameters.state is empty) and state == parameters.state %}
              <span class="badge badge-primary">Matching</span>
            {% else %}
              <span class="badge badge-danger"
                    title="The value saved in session differs from the one returned from the back-end.">
                Not matching
              </span>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Saved nonce</h6>
            {{ nonce }}
            {% if validated_token.nonce == nonce %}
              <span class="badge badge-primary">Matching</span>
            {% else %}
              <span class="badge badge-danger"
                    title="The value saved in session differs from the one returned from the back-end.">
                Not matching
              </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if token_response is defined %}
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">

            <h6 class="card-title">Access token response</h6>
            {{ dump(token_response) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if graph_response is defined %}
    <div class="row mt-2">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title">Graph API response</h6>
            <small>Graph URL:
              <a href="{{ graph_url }}">{{ graph_url }}</a>
            </small>
            {{ dump(graph_response ) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}