{% extends 'base.html.twig' %}

{% block title %}
  OpenId discovery
{% endblock %}

{% block body %}
  <h2>OpenId discovery</h2>
  <small>URL: <a href="{{ discovery_url }}" target="_blank">{{ discovery_url }}</a></small>

  <h4>Here's what I <em>discovered</em>:</h4>
  {{ dump(discovered) }}

  <div class="row mt-2">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">JWKS (JSON Web Keys Set)</h5>
          {{ dump(jwks) }}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Authorization (login) endpoint</h5>
          <a href="{{ authorization_url }}">{{ authorization_url }}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">End session (logout) endpoint</h5>
          <a href="{{ end_session_url }}" target="_blank">{{ end_session_url }}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}