<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}Welcome!{% endblock %}</title>
  <base href="/"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  {% block stylesheets %}{% endblock %}
</head>
<body class="bg-light">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      {% block body %}{% endblock %}
    </div>
  </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>

